@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #bc4123;
  --secondary: #2b3452;
}

body {
  margin: 0 auto;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
  max-width: 1000px;
}

* {
  color: #fff;
  margin: 0;
  /* border: 1px solid red; */
}

main {
  margin-top: 40px;
}

p {
  margin: 5px 0;
}

button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */

header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: 1000px;
  margin: 0 auto;
}

header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}

header nav a {
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
}

header nav a:hover {
  background: var(--primary);
  opacity: 0.7;
}

header nav a.active {
  background: var(--primary);
  opacity: 1;
}

/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.help-layout nav a {
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}

.help-layout nav a:hover {
  border-color: var(--primary);
}

.help-layout nav a.active {
  background: var(--primary);
}

/* faq */

.faq {
  margin: 0 auto;
  width: 50%;
}

.faq h3 {
  margin-bottom: 40px;
}

.faq .question {
  background: rgba(0, 0, 0, 0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
.contact {
  width: 50%;
  margin: 0 auto;
}

form {
  margin-top: 30px;
}

form input,
form label span,
form textarea {
  display: block;
}

form input,
form textarea {
  width: 90%;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  color: var(--secondary);
}

form label span {
  margin-bottom: 10px;
}

button {
  font-family: Poppins;
  background-color: var(--primary);
  opacity: 1;
  font-size: 1.1rem;
  color: white;
  border: 2px solid white;
}

button:hover {
  opacity: 0.7;
}

.cta-link {
  background-color: var(--primary); 
  text-decoration: none;
  padding: 6px 12px;
  border-radius: 4px;
  margin-top: 18px;
  display: inline-block;  
}

.cta-link:hover {
  opacity: 0.7;
}

/* careers */
.career-card {
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  border-radius: 4px;
  margin: 20px 0;
  min-width: 200px;
  width: 30%;
}

.careers> a {
  text-decoration: none;
}

.career-card:hover {
  background-color: var(--primary);
}

.careers p {
  margin: 0;
}

.careers > a p:last-child {
  font-size: 0.9rem;
  color: #bbb;
}

/* career details */

.career-details {
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
}


.page-subheading {
margin-top: 40px;
}

/* breadcrumbs */

.breadcrumbs {
  max-width: 1000px;
  margin: 10px auto;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb:after {
  content: '>';
  margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}

.breadcrumbs .crumb a {
  color: #ddd;
}